<div class=" bg-blue-100  mainBody ">
    <header class="bg-green-800 text-white py-4 cursor-pointer">
        <div class="container mx-auto flex justify-between items-center">
            <div class="flex items-center pl-4" (click)="libraryData()">
                <img src="../../../assets/collegeLogo.jpg" alt="Colledge Logo" class="h-10 mr-3 rounded-full">
                <h1 class="text-xl font-bold hover:text-blue-500">Library One</h1>
            </div>
            <nav>
                <ul class="flex space-x-4 pr-7">
                    <li>
                        <button class="inline-block px-4 py-2 bg-red-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600" (click)="logout()">
                            Logout
                        </button>
                    </li>
                </ul>
                
            </nav>
        </div>
    </header>
    
    <main class="container mx-auto">
        <router-outlet></router-outlet>
        
    </main>
  
    <footer class="bg-gray-800 text-white py-8 mt-8">
        <div class="container mx-auto text-center">
            <p>Democratizing Education, Learning Beyond Boundaries</p>
            <p>© 2024 Uday Shankar Purbey </p>
        </div>
    </footer>
</div>
