<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar"
      nzCollapsible
      nzWidth="256px"
      nzBreakpoint="md"
      [(nzCollapsed)]="isCollapsed"
      [nzTrigger]="null">
      <div class="sidebar-logo">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Ant Design Of Angular</h1>
      </div>
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
          <ul>
            <li nz-menu-item nzMatchRouter>
                <a routerLink="/home/basic_Education">
                    <span nz-icon nzType="home" nzTheme="outline"></span> Basic Education
                </a>
            </li>
            <li nz-menu-item nzMatchRouter>
                <a routerLink="/home/higher_Education">
                    <span nz-icon nzType="book" nzTheme="outline"></span> Higher Education
                </a>
            </li>
            <li nz-menu-item nzMatchRouter>
                <a routerLink="/home/research">
                    <span nz-icon nzType="search" nzTheme="outline"></span> Research
                </a>
            </li>
            <li nz-menu-item nzMatchRouter>
                <a routerLink="/home/career_Development">
                    <span nz-icon nzType="rise" nzTheme="outline"></span> Career Development
                </a>
            </li>
            <li nz-menu-item nzMatchRouter>
                <a routerLink="/home/cultural_Archives">
                    <span nz-icon nzType="history" nzTheme="outline"></span> Cultural Archives
                </a>
            </li>
            <li nz-menu-item nzMatchRouter>
                <a routerLink="/home/newsPapper_Archives">
                    <span nz-icon nzType="file" nzTheme="outline"></span> Newspaper Archives
                </a>
            </li>
        </ul>
        
        </li>
        <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a>Basic Form</a>
            </li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <div class="app-header">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
              <span class="trigger"
                 nz-icon
                 [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
              ></span>
          </span>
        </div>
      </nz-header>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
  