<nz-table #basicTable [nzData]="managementList" *ngIf="managementList?.length > 0">
  <thead>
    <tr>
      <th>Name</th>
      <th>fatherName</th>
      <th>motherName</th>
      <th>imageUrl</th>
      <th>gender</th>
      <th>dateOfBirth</th>
      <th>email</th>
      <th>phone</th>
      <th>address</th>
      <th>regNo</th>
      <th>role</th>
      <th>allocatedBooks</th>
      <th>allocatedMaterial</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{data.name}}</td>
      <td>{{data.fatherName}}</td>
      <td>{{data.motherName}}</td>
      <td>
        <img [src]="data.imageUrl" [alt]="data?.name + ' Image Not Found'" width="50" height="50">
      </td>
      <td>{{data.gender}}</td>
      <td>{{data.dateOfBirth}}</td>
      <td>{{data.email}}</td>
      <td>{{data.phone}}</td>
      <td>{{data.address}}</td>
      <td>{{data.regNo}}</td>
      <td>{{data.role}}</td>
      <td>
        <ul *ngFor="let book of data.allocatedBooks" >
          <li>{{book.bookId}}</li>
          <li>{{book.borrowDate}}</li>
          <li>{{book.returnDate}}</li>
          <nz-divider nzType="horizontal"></nz-divider>

        </ul>
      </td>
      <td>
        <ul>
          <li *ngFor="let material of data.allocatedMaterial" >{{material}}</li>
        </ul>
      </td>
      <td>
        <button>Delete</button>
      </td>      
    </tr>
  </tbody>
</nz-table>