  <!-- box section -->
  <div class="bg-blue-100 flex items-center justify-center min-h-screen">

    <div class="grid grid-cols-2 ">
      <div  *ngFor="let item of tableData">
        <div class="bg-white m-4 p-4 rounded-lg shadow-lg ">
          <h3 class="text-xl font-semibold mb-4 flex items-center justify-center bg-cyan-200">
            <i class="fas fa-list mr-2"></i> {{ (item?.topics || '').charAt(0).toUpperCase() + (item?.topics || '').slice(1) }}
          </h3>
          <div >
              <div>
                  <ul class="grid grid-cols-2 p-4 gap-2">
                      <li class="mb-2 hover:text-blue-600 cursor-pointer underline-hover" *ngFor="let subTopic of item?.subTopics">
                        <a [routerLink]="'/home/subject/'+item?.topics +'/'+subTopic">{{subTopic}}</a>
                      </li>
                  </ul> 
              </div>
          </div>
          <a [routerLink]="'/home/subject/'+item?.topics" class="text-white font-thin text-2xl flex items-center justify-center bg-cyan-200 ">
              <i class="fas fa-layer-group mr-2"></i> View More
          </a>
      </div>
      </div>
      
      <!-- New card Added -->     
      
    </div>
  
  </div>

  <!-- Carausel Section -->
<div class="flex justify-center items-center relative p-8" (mouseenter)="pauseAutoSlide()" (mouseleave)="startAutoSlide()">
    <button (click)="prevSlide()" class="absolute left-0 top-1/2 transform -translate-y-1/2 bg-gray-300 p-2 rounded-full">‹</button>
    <div class="carousel flex overflow-hidden space-x-4 w-full">
      <div class="card bg-white p-4 shadow-md hover:shadow-xl transition-shadow duration-300" *ngFor="let card of visibleCards" (click)="getClickedCarauselData(card)" >
        <img [src]="card.image" alt="{{ card.title }}" class="h-40 w-full object-cover">
        <h3 class="mt-4 text-lg font-semibold underline-hover  hover:text-blue-500">{{ card.title }}</h3>
        <p class="underline-hover hover:text-blue-500">{{ card.description }}</p>
      </div>
    </div>
    <button (click)="nextSlide()" class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-gray-300 p-2 rounded-full">›</button>
  </div>
